.Layout .resetContainer {
    position: fixed;
    bottom: 10px;
    right: 15px;
    height: 25px;
    width: 100%;
    text-align: right;
}


.Layout h1 {
    font-size: 2em;
}

.Layout li {
    border-radius: 0 !important;
}

.Layout li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
}