.Layout .resetContainer {
    position: absolute;
    bottom: 25px;
    left: 25px;
}


.Layout h1 {
    font-size: 2em;
}

.Layout li {
    border-radius: 0 !important;
}

.Layout li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
}