.completed {
    text-decoration: line-through;
}

.TaskItem {
    padding-left: 0 !important;
}


.TaskItem input[type=checkbox] {
    appearance: none;
    margin: 0;
    padding: 0;
}

.TaskItem label {
    cursor: pointer;
    margin: 0;
}

.TaskItem input[type=checkbox]+label:before {
    content: "";
    background-color: white;
    /* border: 1px solid #333; */
    padding: 5px 15px 5px 15px;
    align-self: flex-start;
    margin-right: 15px;
    background: no-repeat url('../../assets/Incomplete.svg') left;
}



.lockedTask label {
    color: #999;
}

.lockedTask input[type=checkbox]+label:before {
    content: "";
    /* border: 1px solid #333; */
    padding: 5px 15px 5px 15px;
    align-self: flex-start;
    margin-right: 15px;
    background: no-repeat url('../../assets/Locked.svg') left;
}


.TaskItem input[type=checkbox]:checked+label:before {
    content: "";
    background: no-repeat url('../../assets/Completed.svg') left;
    /* border: 1px solid #f5f5f5; */
    padding: 5px 15px 5px 15px;
    align-self: flex-start;
    margin-right: 15px;
}

.TaskItem a,
.TaskItem a:link,
.TaskItem a:active {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.TaskItem a:hover,
.TaskItem a:visited {
    color: #888;
}