.TaskGroupItem {
    padding-left: 40px !important;
    background: no-repeat url('../../assets/Group.svg') left;
}


.TaskGroupItem a,
.TaskGroupItem a:link,
.TaskGroupItem a:active,
.TaskGroupItem a:visited {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.TaskGroupItem a:hover {
    color: #666;
}

.TaskGroupItem small {
    color: #888;
}