.liItem {
    padding-left: 40px !important;
    background: no-repeat url('../../assets/Group.svg') left;
}


.completed {
    color: #888;
}

a.groupLink,
a.groupLink:link,
a.groupLink:active {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

a.groupLink:hover,
a.groupLink:visited {
    color: #888;
}